<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CWIDropAdd" type="System.Configuration.SingleTagSectionHandler" />
    <section name="CWIPrimaryCheck" type="System.Configuration.SingleTagSectionHandler" />
    <section name="CWIEnforceRecord" type="System.Configuration.SingleTagSectionHandler" />
    <section name="CWIForceIdTo10000" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="sample1" value="uno" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- Notes: ControlDefn Includes ControlLabel Table
	            RecordIdMaster must be the last tables since it regenerates LastId for all Tables.
	            If a postfix of 10000 is added it means it won't delete above the 10000 id range-->
	<CWIDropAdd 
    t000="ControlDefn" 
    t001="RecordIdMaster"
    t002="SQLCmndStatement" 
    t003="SQLColumnList" 
    t004="SQLCommand" 
    t005="SQLMethod" 
    t006="SQLMethodParm" 
    t007="SQLOneCommand" 
    t008="SQLQueryPart" 
    t009="SQLStatement" 
    t010="SQLStatementParms" 
    t011="SQLStoredProcedure" 
    t012="RecordMasterLabel" 
    t013="SysErrorMessage" 
    t014="SysBusFunction,SysBusFuncId,10000" 
    t015="SysBusFuncPriv,SysBusFuncPrivId,10000" 
    t016="SysBusPrivType,SysBusPrivTypeCd,10000" 
    t017="ScriptConcept,ScriptConceptId,10000" 
    t018="CalcScriptCategory,CalcScriptCategoryId,10000" 
    t019="CalcScriptBodyTemplate,CalcScriptBodyTemplateId,10000" 
    t020="CalcScriptCustomParameterList,CalcScriptCustomParamListId,10000" 
    t021="CalcScriptDescription,CalcScriptDescriptionId,10000" 
    t022="ControlDefault" 
    t023="OutputDeviceConfig,OutputDevConId,10000" 
    t024="OutputFileType,OutputFileTypeId,10000" 
    t025="Printer,PrinterId,10000" 
    t026="RepConfigOutInfo,RepConfigOutInfoId,10000" 
    t027="RepDataGenConfig,RepDataGenConfigId,10000" 
    t028="ReportConfig,ReportConfigId,10000" 
    t029="ReportOutputDriver,ReportOutputDriverId,10000" 
    t030="ReportParameter,ReportParameterId,10000" 
    t031="JobTypeInformation,JobTypeId,10000, skipCWIPrimaryId" 
    t032="JobTypeParameters,JobTypeId,100000, skipCWIPrimaryId" 
    t033="JobTypeParmValues,JobTypeParmValuesId, 100000, skipCWIPrimaryId" 
    t034="JobTypeParmValueLbl,JobTypeParmValuesId, 100000, skipCWIPrimaryId"
    t035="DataSetDefinition,DataSetDefinitionId,10000, skipCWIPrimaryId"
    t036="AssetRepositoryItem,AssetRepositoryItemId,10000"
    t037="AssetRepositoryLink,AssetRepositoryLinkId,10000"
    t038="AssetRepository,AssetRepositoryId,10000"
    t039="MessageTemplateItem,MessageTemplateItemId,50000"
    t040="MessageTemplate,MessageTemplateId, 50000"	  
    />

  <!-- DropListsTables (LookupConcept, LookupContext, etc.) are the default. Tables in this sections are just added to this set-->
	<CWIPrimaryCheck t000="LookupNameValue.LookupNameId,LanguageCd,NoDelete"/>

	<!-- The folling tables must have a > 9999 value in the RecordIdMaster.LastId -->
	<CWIForceIdTo10000 t000="SubCategory" 
                     t001="OutputDeviceConfig" 
                     t002="OutputFileType" 
                     t003="Printer" 
  t004="RepConfigOutInfo" 
  t005="RepDataGenConfig" 
  t006="ReportConfig" 
  t007="ReportOutputDriver" 
  t008="ReportParameter" 
  t009="DataSetDefinition" 
  t010="LookupConcept" 
  t011="LookupContext" 
  t012="LookupValue" 
  t013="LookupValueLabel"
  t014="GeneralScript,50000" 
  t015="GeneralScriptItm,50000"                     
	t016="SysBusFunction" 
	t017="SysBusFuncPriv" 
	t018="SysBusPrivType" 
	t019="ScriptConcept" 
	t020="CalcScriptCategory" 
	t021="CalcScriptBodyTemplate" 
	t022="CalcScriptCustomParameterList" 
	t023="CalcScriptDescription"                                    
  t024="JobTypeInformation"
  t025="JobTypeParameters,100000"
  t026="JobTypeParmValues,100000"
  t027="JobTypeParmValueLbl,100000"
  t028="AssetRepositoryItem,50000"
  t029="AssetRepositoryLink,50000"
  t030="AssetRepository,50000"
  t031="BillLayout,50000"
  t032="BillHeader,50000"
  t033="BillFooter,50000"
  t034="BillDetail,50000"
  t035="ClientBeneBillMap,50000"
  t036="MessageTemplateItem,50000"
  t037="MessageTemplate,50000"
  />

	<!-- Enforce contains a Table = Constraint pair to delete rows accordingly 
	This is a sample on  how to enforce droplist which CWIPrimaryKeyId = 10020 (LookupConcept)
	-Please note that in this case the ORDER (Set by the prefix tnnn) does matter since we have to work our way up in order to have all children properly deleted
	<CWIEnforceRecord
		t000LookupValueLabel="WHERE LookupValueId IN (SELECT LookupValueId FROM LookupContext WHERE LookupConceptId = (SELECT LookupConceptId FROM LookupConcept WHERE CWIPrimaryId = 10020))"
		t001LookupValue="WHERE LookupValueId IN (SELECT LookupValueId FROM LookupContext WHERE LookupConceptId = (SELECT LookupConceptId FROM LookupConcept WHERE CWIPrimaryId = 10020))"
		t002LookupContext="WHERE LookupConceptId = (SELECT LookupConceptId FROM LookupConcept WHERE CWIPrimaryId = 10020)"
		t003ControlConcept="WHERE LookupConceptId = (SELECT LookupConceptId FROM LookupConcept WHERE CWIPrimaryId = 10020)"
		t004LookupConcept="WHERE CWIPrimaryId = 10020"
		/> -->
  <CWIEnforceRecord />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>